.containerPergunta{
    width: 60vw;
    border: #00ff88 2px solid;
    border-radius: 15px;
    padding: 20px;
}
.btnsAP{
    display: flex;
    justify-content: center;
    gap: 86%;
}
.imgPergunta{
    text-align: center;
}
.imgPergunta img{
    width: 50%;
}